* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}
body {
	color: #161211;
	background-color: #EEF3EC;
/*	font-family: 'Open Sans', sans-serif;*/
	margin: 0em;
}

a {
	color: #574747;
}

/* Utility classes */

.default-layer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
}

.container {
	min-width: 800px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.full-width {
	width: 100%;
}

/* Styling */

.jumbotron {
	background-color: #90A67B;
	padding: 2em;
}

.jumbotron h1 {
	color: #262626;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 2.5em;
}

.marquee-header {
	background: url("img/lukeChesserUnsplash.jpg") no-repeat center center;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	height: 50vh;
}

.breadcrumb {
	background-color: #B6CCA0;
}

.breadcrumb > li + li:before {
	color: #262626;
}

.breadcrumb a:hover {
	text-decoration: none;
	color: #A26262;
}

.breadcrumb > .active {
	color: #606B4D;
}

.myPanel {
	background-color: #D1E5C2;
	margin-bottom: 15px;
}

.corner-styling {
	border-radius: 0px;
}

.img-marquee {
	max-height: inherit;
	max-width: inherit;
}

.marquee-left {
	width: 40%;
	display: inline-block;
}

.marquee-right {
	width: 60%;
	display: inline-block;
}

.padding-large {
	padding: 30px;
}

@media screen and (min-width: 800px) {
	.default-layer {
		padding: 10px;
	}

	.corner-styling {
		border-radius: 5px;
	}
}