* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}
body {
	color: #161211;
	background-color: #EEF3EC;
	font-family: 'Open Sans', sans-serif;
	margin: 2em;
}

a {
	color: #574747;
}

/* Utility classes */

.default-layer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
}

.container {
	min-width: 800px;
}

/* Styling */

.jumbotron {
	background-color: #90A67B;
	padding: 2em;
	z-index: 1;
}

.jumbotron h1 {
	color: #262626;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 2.5em;
}

.breadcrumb {
	background-color: #B6CCA0;
	z-index: 1;
}

.breadcrumb > li + li:before {
	color: #262626;
}

.breadcrumb a:hover {
	text-decoration: none;
	color: #A26262;
}

.breadcrumb > .active {
	color: #606B4D;
}

.myPanel {
	background-color: #D1E5C2;
	margin-bottom: 30px;
	padding: 30px;
	z-index: 1;
}

.corner-styling {
	border-radius: 0px;
}

@media screen and (min-width: 800px) {
	.default-layer {
		padding: 10px;
	}

	.corner-styling {
		border-radius: 5px;
	}
}