/* NOW IT'S CSS TIME AND WE DO THINGS WITH ASTERISKS AND SLASHES BECAUSE OF REASONS */
/* It's best practice to put this stuff in its own separate document. You know, store my css in a nice little file like a rational adult. The rules of rapid prototyping are "FASTER WE CAN PAY SOMEONE ELSE TO ORGANIZE YOUR MESSY CODE" in my imaginary ideal company that will never exist outside of my head. */
body {
	color: #161211;
	background-color: #EEF3EC;
	font-family: 'Open Sans', sans-serif;
	margin: 2em;
}

a {
	color: #574747;
}

/* Fuck screens in this day and age that are not at least 800 pixels wide. Seriously, they need to get their shit together. 800x600 was the smallest resolution we even bothered to put up with back in 2000 and I am not going to design a website for any device that is PRETENDING IT'S FIFTEEN FUCKING YEARS AGO */
.container {
	min-width: 800px;
}

/* The following bits are modified from Bootstrap and Bootswatch code. */

.jumbotron {
	background-color: #90A67B;
	padding: 2em;
	z-index: 1;
}

.jumbotron h1 {
	color: #262626;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 2.5em;
}

/* Where would I be without Bootstrap? */

/* THE UNEMPLOYMENT LINE!*/

/* ---> Above comment is meant to be read in the voice of Michael Caine as he appeared in The Muppet Christmas Carol */


.breadcrumb {
	background-color: #B6CCA0;
	border-radius: 5px;
	z-index: 1;
}

.breadcrumb > li + li:before {
	color: #262626;
}

.breadcrumb a:hover {
	text-decoration: none;
	color: #A26262;
}

.breadcrumb > .active {
	color: #606B4D;
}

.myPanel {
	background-color: #D1E5C2;
	margin-bottom: 30px;
	padding: 30px;
	border-radius: 5px;
	z-index: 1;
}